.nopadding {
  padding: 0;
}

#users-wrapper {
  text-align: center;

  #users-page-label {
    span {
      font-size: 30px;
    }
  }
}

#all-users{
  width: 60%;
  margin: 0 auto;
  border: 1px solid #000;
  border-radius: 10px;

  .individual-user {
    margin: 0;
    border-bottom: 1px solid #000;

    a {
      color: #000;
    }

    :hover {
      text-decoration: none;
    }
    .user-name {
      font-size: 2.5em;
    }

    .user-level {

      .user-level-label {
        font-size: 1.4em;
      }

      .user-experience-bar {
        border: 1px solid #000;
        border-radius: 5px;
        width: 50%;
        margin: 0 auto;
        min-width: 250px;
        height: 25px;
        position: relative;
        background-color: #000;

        .experience-bar-overlay {
          background-color: #00cc00;
          position: absolute;
          height: 100%;
        }

        .experience-text-overlay {
          top: 1px;
          position: absolute;
          color: #fff;
          width: 100%;
          text-align: center;
        }
      }
    }
  }

  .individual-user:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .individual-user:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom: 0;
  }

  .individual-user:hover {
    background-color: #e6e6e6;
    cursor: pointer;
  }
}
