#all-users {
  text-align: center;
}

#users-page-label {
  span {
    font-size: 30px;
  }
}

.individual-user {
  .user-level {
    .user-experience-bar {
      border: 1px solid #000;
      border-radius: 5px;
      width: 50%;
      margin: 0 auto;
      min-width: 250px;
      height: 25px;
      position: relative;
      background-color: #000;

      .experience-bar-overlay {
        background-color: #00cc00;
        position: absolute;
        height: 100%;
      }

      .experience-text-overlay {
        position: absolute;
        color: #fff;
        width: 100%;
        text-align: center;
      }
    }
  }
}
